body{
    font-family: sans-serif;
}

html,
.fullscreen{
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}
.container{
    margin: auto;
    text-align: center;
}
.title{
    font-size: 3rem;
}